

<div id="MenuIcon"></div>

<li><a href="/restaurant_menu/" title="Restaurant Menu<"><span>Restaurant Menu</span></a></li> 
<li><a href="/banquets_menu/" title="Banquets Menu"><span>Banquets Menu</span></a></li> 
<li><a href="/catering_menu/" title="Catering Menu"><span>Catering Menu</span></a></li>

<p>Please take some time to look through all of our menus. Filled with the freshest all natural ingredients.</p>
