<%= breadcrumb :breadcrumbs %>
<p>Restaurant</p>
<p><a href="/images/menus/DINNER.pdf" id="embedURL">Dinner</a></p>
<p><a href="/images/menus/LUNCH.pdf" id="embedURL">Lunch</a></p>
<p><a href="/images/menus/MIDAFTERNOON.pdf" id="embedURL">Mid-Afternoon</a></p>
<p><a href="/images/menus/CARRYOUT.pdf" id="embedURL">Carry Out</a></p>