<p>A tradition of dining excellence for over 36 years.</p>

<p>Built from the ground up in 1975 by Dominic Fiore, Filippa’s is still the number one place for a wonderful dining experience in Macomb County. Filippa’s was named for Dominic Fiore’s mother and now ran by her grandsons, Joe, Rob, and Tom Fiore.
Filippa’s takes pride with chef Harry (Bub) Walker in our award winning menu featuring certified Angus Beef, Boston fresh seafood and great American fare to please everyone’s palate. High quality service, pristine atmosphere, and our one of a kind patio with umbrella tables and running waterfall are a few of the many other things that add to your experience.
We can accommodate large parties in our private banquet facility or we can bring Filippa’s home to you through our impeccable catering service.
Visit our specialty food counter to choose from a wide variety of delicious selections ranging from homemade sauce and dressing to the freshest seafood and finest meats, along with over 40 types of wine to choose from to add the ultimate finishing touch to your meal.
We are always hosting great events such as our wine dinners. Where spectacular wines are presented, from white to red, accompanied by a special menu designed by chef Bub.
Our field trips, live entertainment, and other upcoming promotions are more things to look forward to seeing at Filippa’s.</p>

<p><a href="/about/" title="About Us">ABOUT US</a> | <a href="/aboutthechef/" title="About The Chef">ABOUT THE CHEF</a> | <a href="/charities/" title="Charities">CHARITIES</a> | <a href="/gallery/" title="Photo Gallery">GALLERY</a></p>