
<p>The Culinary Team in Filippa’s kitchen has been overseen by Chef “Bub” Walker
for over 16 years. Chef  Bub started his career in the Restaurant Industry at the  very young age of 15 as a prep cook at the Firehouse lounge in Detroit.  With extensive experience in places like Gross Point Hunt Club, the prestigious Detroit club in downtown Detroit, and Elizabeth’s by the Lake he brings a great flair to your dining experience at Filippas.</p>

<p>With homemade soups, sauces, and dressings made daily, he also receives Boston Fresh Seafood daily, as
well as cutting his own All Natural  New York Strip Steaks and Tenderloin of Beef. Chef Bub also creates new dishes as well as old favorites for Lunch and Dinner Specials daily. He will also prepare any Guests requests providing he has the ingredients available. He is very pro-active in accommodating special dietary needs as well as allergies. 
You can always contact him on the direct kitchen Line 
586-737-2314
</p>


<p><a href="/about/" title="About Us">ABOUT US</a> | <a href="/aboutthechef/" title="About The Chef">ABOUT THE CHEF</a> | <a href="/charities/" title="Charities">CHARITIES</a></p>