<p>Thank you for choosing Filippa's to host your special event. We are here
to provide you with the ultimate satisfaction in food, service, and atmosphere.
Our expert staff is dedicated to helping you plan your event, from decorations
and menu selections to creating the perfect ambience for your guests. Come
and celebrate your special events with family and friends here at Filippa’s.
Experience our fine dining services in our spacious and beautiful banquet areas.</p>

<p>VIEW OUR BANQUET MENU (LINK)</p>

<p>VIEW OUR POLICIES (LINK)</p>

<p>VIEW OUR LAYOUTS (LINK)</p>

<p>VIEW OUR CATERING OPTIONS (LINK)</p>

<p>VIEW PHOTO GALLERY OF BQ AREAS (PHOTO ALBUM) (VIRTUAL TOUR)</p>

<p>Thank you for choosing Filippa's to host your special event. We are here
to provide you with the ultimate satisfaction in food, service, and atmosphere.
Our expert staff is dedicated to helping you plan your event, from decorations
and menu selections to creating the perfect ambience for your guests. Come
and celebrate your special events with family and friends here at Filippa’s.
Experience our fine dining services in our spacious and beautiful banquet areas.</p>

<p>VIEW OUR BANQUET MENU (LINK)</p>

<p>VIEW OUR POLICIES (LINK)</p>

<p>VIEW OUR LAYOUTS (LINK)</p>

<p>VIEW OUR CATERING OPTIONS (LINK)</p>

<p>VIEW PHOTO GALLERY OF BQ AREAS (PHOTO ALBUM) (VIRTUAL TOUR)</p>
<p>Thank you for choosing Filippa's to host your special event. We are here
to provide you with the ultimate satisfaction in food, service, and atmosphere.
Our expert staff is dedicated to helping you plan your event, from decorations
and menu selections to creating the perfect ambience for your guests. Come
and celebrate your special events with family and friends here at Filippa’s.
Experience our fine dining services in our spacious and beautiful banquet areas.</p>

<p>VIEW OUR BANQUET MENU (LINK)</p>

<p>VIEW OUR POLICIES (LINK)</p>

<p>VIEW OUR LAYOUTS (LINK)</p>

<p>VIEW OUR CATERING OPTIONS (LINK)</p>

<p>VIEW PHOTO GALLERY OF BQ AREAS (PHOTO ALBUM) (VIRTUAL TOUR)</p>
