<p>Thank you for choosing Filippa's to host your special event. We are here
to provide you with the ultimate satisfaction in food, service, and atmosphere.
Our expert staff is dedicated to helping you plan your event, from decorations
and menu selections to creating the perfect ambience for your guests. Come
and celebrate your special events with family and friends here at Filippa’s.
Experience our fine dining services in our spacious and beautiful banquet areas.</p>

<p><a href="/images/menus/BANQUET.pdf" title="Banquet Menu">Banquet Menu</a></p>
<p><a href="/images/policyroom/BANQUETROOMS.pdf" title="Banquet Rooms">Banquet Rooms</a></p>
<p><a href="/images/policyroom/BANQUETPOLICY.pdf" title="Banquet Policy">Banquet Policy</a></p>


<p><a href="/menu/" title="Menu">ALL MENUS</a> | <a href="/gallery/" title="Photo Gallery">GALLERY</a></p>


