<p>“Enjoy Filippa’s At Home”</p>
<p>We love carry-outs!</p>
<p>We would be happy to put together a Carry-out of any of our
Lunch or Dinner items for you. Chef Bub has also created a
Special menu consisting of “Dinners for Two” $18.87 with tax
$20.00. Perfect for those on the run days!</p>

<p><a href="/images/menus/CARRYOUT.pdf" title="Carry Out Menu">$18.87 Carry Out Specials</a></p>
<p><a href="/images/menus/GOURMETTOGO.pdf" title="Gourmet To Go">Gourmet To Go</a></p>
<p><a href="/images/menus/HOLIDAYPICKUP.pdf" title="Holiday Pickup Menu">Holiday Pickup Menu</a></p>
<p><a href="/images/menus/THANKSGIVINGPICKUP.pdf" title="Thanksgiving Pickup Menu">Thanksgiving Pickup Menu</a></p>

<p><a href="/menu/" title="Menu">ALL MENUS</a> | <a href="/gallery/" title="Photo Gallery">GALLERY</a></p>
