<p>“Enjoy Filippa’s At Home”</p>
<p>We love carry-outs!</p>
<p>We would be happy to put together a Carry-out of any of our
Lunch or Dinner items for you. Chef Bub has also created a
Special menu consisting of “Dinners for Two” $18.87 with tax
$20.00. Perfect for those on the run days!</p>

<p><a href="/images/menus/DINNER.pdf" title="Dinner Menu">Dinner Menu</a> Served Anytime</p>
<p><a href="/images/menus/LUNCH.pdf" title="Lunch Menu">Lunch Menu</a> Served MON-SAT 11AM-3PM </p>
<p><a href="/images/menus/MIDAFTERNOON.pdf" title="Mid-Day Menu">Mid-Day Menu</a> Served MON-FRI 2-4:30PM SAT-SUN 12-2:30PM</p>
<p><a href="/images/menus/CARRYOUT.pdf" title="Carry Out Menu">$18.87 Carry Out Specials</a></p>
<p><a href="/images/menus/GOURMETTOGO.pdf" title="Gourmet To Go">Gourmet To Go</a></p>

<p><a href="/menu/" title="Menu">ALL MENUS</a> | <a href="/gallery/" title="Photo Gallery">GALLERY</a></p>
