<p>Filippa’s does many events throughout the year. Mark your calendar. Join us for one our special
events. Make your reservation today.</p>

<p>Wine Tastings (link)</p>

<p>Join us every 2nd Tuesday of the month.</p>

<p>Cooking Classes (link)</p>

<p>Learn Chef’s secrets every 3rd Monday of the month.</p>

<p>Tiger Trips (link)</p>

<p>The best way to go see your favorite team.</p>

<p>Casino Trips (link)</p>

<p>Fall and Spring Flings!</p>

<p>Clam &Lobster Bake (link)</p>

<p>Golf Outings (link)</p>

<p>Fun day of golfing and great food.</p>
