<p>Filippa’s does many events throughout the year. Mark your calendar. Join us for one our special
events. Make your reservation today.</p>

<p><a href="/images/events/WINETASTINGJUNE2011.pdf" id="embedURL">Wine Tastings</a></p>

<p>Join us every 2nd Tuesday of the month.</p>

<p><a href="/images/events/COOKINGCLASS.pdf" id="embedURL">Cooking Classes</a></p>

<p>Learn Chef’s secrets every 3rd Monday of the month.</p>

<p><a href="/images/events/TIGERTRIP2011.pdf" id="embedURL">Tiger Trips</a></p>

<p>The best way to go see your favorite team.</p>

<p><a href="/images/events/CASINOTRIP2010.pdf" id="embedURL">Casino Trips</a></p>

<p>Fall and Spring Flings!</p>

<p><a href="/images/events/CLAMBAKE2011.pdf" id="embedURL">Clam & Lobster Bake</a></p>

<p><a href="/images/events/TIGERTRIP2011.pdf" id="embedURL">Golf Outings 
	Need Flyer!</a></p>

<p>Fun day of golfing and great food.</p>


