<p>Filippa’s Bar Staff Present</p> <p>“Super Rush Hour, Happy Hour”</p> <p>Monday Thru Friday</p>

<p>Everything spent beyond your first $10.00 is half off! (Excluding bottles of Wine.) So whether you are trying to avoid Rush hour, or have been caught in It and want to relax come join us for Your favorite Cocktails, Appetizers And Dinner.</p>

<p><a href="/images/menus/HAPPYHOUR.pdf" title="Happy Hour">Super Rush Hour, Happy Hour Events Calendar</a></p>

<p>Disclaimers Between 3-6PM only Not available for carry-out At Bar only-Served by Professional Bar Staff All Food must be ordered by 5:15PM All Cocktails Must be ordered by 5:45PM</p>


<p><a href="/menu/" title="Menu">ALL MENUS</a> | <a href="/about/" title="About Us">ABOUT US</a> | <a href="/aboutthechef/" title="About The Chef">ABOUT THE CHEF</a> | <a href="/holidays/" title="Holidays">HOLIDAYS</a> | <a href="/charities/" title="Charities">CHARITIES</a> | <a href="/gallery/" title="Photo Gallery">GALLERY</a></p>