<p><a href="/images/menus/HOLIDAYPICKUP.pdf" title="Holiday Pickup Menu">Holiday Pickup Menu</a></p>
<p><a href="/images/menus/THANKSGIVINGPICKUP.pdf" title="Thanksgiving Pickup Menu">Thanksgiving Pickup Menu</a></p>

<p><a href="/menu/" title="Menu">ALL MENUS</a> | <a href="/about/" title="About Us">ABOUT US</a> | <a href="/aboutthechef/" title="About The Chef">ABOUT THE CHEF</a> | <a href="/holidays/" title="Holidays">HOLIDAYS</a> | <a href="/charities/" title="Charities">CHARITIES</a> | <a href="/gallery/" title="Photo Gallery">GALLERY</a></p>