
<p>Welcome to Filippa’s Wine Barrel. Nestled in a cozy Macomb County neighborhood, Filippa’s is still a family owned and operated Classic Steak & Seafood Restaurant.</p>
</p>
<p>Serving Guests from “Near and Far” for more than 35 years. Our menu consists of traditional “Old Time” favorites, along with creative new ones, sure to become classics. Our exceptional Culinary Team is committed to being consistent, fresh, with exciting new dishes regularly. All in a casual, upscale atmosphere, with comfortable prices. We invite you to explore the many facets of our establishment. Thank you for visiting us!</p>

<p>Filippa’s Wine Barrel</p>
<p>“We make everyday Eventful”</p>





