<p>Welcome to Filippa’s Wine Barrel. A traditional Steak & Seafood Restaurant with a great balance of old favorites and new trends since 1975. Our goal is to continue to be successful through graciousness, good service, and great food, creating loyal guests.</p>
