<p>Welcome to Filippa’s Wine Barrel. A traditional Steak & Seafood Restaurant with a great balance of old favorites and new trends since 1975. Our goal is to continue to be successful through graciousness, good service, and great food, creating loyal guests.</p>

<p><a href="/images/menus/DINNER.pdf" title="Dinner Menu">Dinner Menu</a> Served Anytime</p>
<p><a href="/images/menus/LUNCH.pdf" title="Lunch Menu">Lunch Menu</a> Served MON-SAT 11AM-3PM </p>
<p><a href="/images/menus/MIDAFTERNOON.pdf" title="Mid-Day Menu">Mid-Day Menu</a> Served MON-FRI 2-4:30PM SAT-SUN 12-2:30PM</p>

<p><a href="/images/menus/HAPPYHOUR.pdf" title="Happy Hour">Super Rush Hour, Happy Hour</a></p>

<p><a href="/menu/" title="Menu">ALL MENUS</a> | <a href="/about/" title="About Us">ABOUT US</a> | <a href="/gallery/" title="Photo Gallery">GALLERY</a></p>


