<p>Welcome to Filippa’s Wine Store!</p>

<p>We now feature our bottled wines at Very Aggressive Retail prices, Instead of Traditional restaurant mark-ups!!You may purchase them to take home, or enjoy here for a $10 Corkage fee!! Looking for something special, that’s Not listed?? Just ask Aimee, I’m sure to help you find that Wine!</p>

<p>“Second Tuesday of the Month Wine Tasting”

Join us on the Second Tuesday of every month for Filippa’s Wine Tasting.

Every Month a New Theme…Come enjoy, and learn about Wine!

Feature 12-14 different wines, Light Appetizers and Casual Fun! Bring that special
someone or a great evening out with Friends…

Limited Tickets Available $20 Prepay or $25 at the Door. 5:30-7:30 pm
</p>

<p><a href="/images/events/WINETASTINGJUNE2011.pdf" title="Tasting Schedule">Tasting Schedule</a> | <a href="/images/menus/WINELIST.pdf" title="Wine List">Wine List</a> | <a href="/images/menus/WINESPECIALS.pdf" title="Retail Wine Special Deals">Retail Wine Special Deals</a></p>