<header> 	
<div id="nav">
	<h1 id="masthead">
		<a href="/"><img src="/images/FilippasLogo.png" alt="Filipas Wine Barrel : We make everyday Eventful" /></a></h1> 
	<div class="nav-c-nav-container">
		<ul id="nav-c-nav" class="nav sf-vertical">
			<li id="nav-item-15" class="nav-item nav-item-type-taxonomy nav-item-object-category nav-item-15">
				<a href="/restaurant/" title="Restaurant"><span>Restaurant</span></a></li> 
				<li><a href="/banquets/" title="Banquets"><span>Banquets</span></a></li> 
				<li><a href="/catering/" title="Catering"><span>Catering</span></a></li> 
				<li><a href="/events/" title="Events"><span>Events</span></a></li>
				<li><a href="/meetings/" title="Meetings"><span>Meetings</span></a></li>
		</ul></div>
	<p><div id="social">
		<a href=" http://www.facebook.com/filippaswinebarrel" target="_blank">
			<img src="/images/socialbuttons/FB_button.png" alt="Facebook - Filippas Wine Barrel"  /></a>
		<a href=" http://twitter.com/#!/search/filippas%20wine%20barrel" target="_blank">
			<img src="/images/socialbuttons/T_button.png" alt="Facebook - Filippas Wine Barrel"  /></a>
	</p></div>
</div>
</header>
