<div class="jbgallery" id="slideshow-api">
	<ul>
	<li><a href="/images/frontslide/FilippasWineBarrel04.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel08.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel21.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel07.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel23.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel24.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel09.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel03.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel02.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	<li><a href="/images/frontslide/FilippasWineBarrel01.jpg" alt="Filipas Wine Barrel : We make everyday Eventful" ></a></li>
	</ul>
</div>